In [2]:
import pandas as pd
friends=['vishal','havit','manish']
x=pd.Series(friends)
print(x)

0    vishal
1     havit
2    manish
dtype: object

In [3]:
import pandas as pd
marks=[80,88,90,92,87]
x=pd.Series(marks)
print(x)

0    80
1    88
2    90
3    92
4    87
dtype: int64

In [4]:
import pandas as pd
marks=[80,88,90,92,87]
subject=['python','fsd','coa','toc','dm']
x=pd.Series(marks,index=subject)
print(x)

python    80
fsd       88
coa       90
toc       92
dm        87
dtype: int64

In [9]:
import pandas as pd
subject={'python':80,'fsd':90,'coa':88,'toc':92,'dm':87}
x=pd.Series(subject)
print(type(x))
print(x)

<class 'pandas.core.series.Series'>
python    80
fsd       90
coa       88
toc       92
dm        87
dtype: int64

In [11]:
import pandas as pd
subject={'python':80,'fsd':90,'coa':88,'toc':92,'dm':87}
i=['a','b','c','d','e']
x=pd.Series(subject,index=i)
print(type(x))
print(x)

<class 'pandas.core.series.Series'>
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [14]:
import pandas as pd
r=[1,2]
ser=pd.Series(r,copy=False)
print(r)
print(ser)
ser.iloc[0]=999
print(ser)
print(r)

[1, 2]
0    1
1    2
dtype: int64
0    999
1      2
dtype: int64
[1, 2]

In [15]:
import pandas as pd
r=[1,2]
ser=pd.Series(r,copy=True)
print(r)
print(ser)
ser.iloc[0]=999
print(ser)
print(r)

[1, 2]
0    1
1    2
dtype: int64
0    999
1      2
dtype: int64
[1, 2]

In [16]:
import pandas as pd
pd.read_csv('csv.csv')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."